/* цвет титульной страницы & фон footer #2F303A;*/
/* фон header #FFFFFF;*/
/* основной фон #E5E5E5;*/
/* фон слайдов в галерее дизайн #EEEEEE;*/
/* цвет кнопки титульной страницы и при hover,focus всех элементов #2196F3;*/
/* цвет кнопок не активных #F5F4FA;*/
/* цвет шрифт заголовков button & nav #212121;*/
/* цвет шрифт текст & контакты #757575;*/
/* цвет шрифт button при hover,focus дизайн  #FFFFFF;*/

:root {
  --background-hero: #2f303a;
  --background-text-btn-hov: #ffffff;
  --background-prime: #e5e5e5;
  --background-design: #eeeeee;
  --blue-hov: #2196f3;
  --background-btn-non: #f5f4fa;
  --text-color-sec: #212121;
  --text-color-prime: #757575;
  --text-adress: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--background-text-btn-hov);
  color: var(--text-color-prime);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.header,
.navigation,
.adress,
.btn-list,
.advantage ul,
.team ul,
.work ul {
  display: flex;
}
.current {
  color: var(--blue-hov);
}
a,
li,
ul {
  text-decoration: none;
  list-style-type: none;
  padding-inline-start: 0;
}
.navigation .link:hover,
.navigation .link:focus {
  color: var(--blue-hov);
}
.adress .link:hover,
.adress .link:focus {
  color: var(--blue-hov);
}
/* header */
.header {
  background-color: var(--background-text-btn-hov);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  height: 80px;
}
.logo {
  color: var(--blue-hov);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-left: 215px;
  /* margin-top: 25px; */
}
.link{
/* a .link { */
  padding-left: 50px;
}
.accent {
  color: var(--text-color-sec);
}
.accent-footer {
  color: var(--background-btn-non);
}
nav a {
  color: var(--text-color-sec);
}
.adress a {
  color: var(--text-color-prime);
}
.header ul.adress {
  padding-left: 330px;
}
/*main*/

/* hero */
.hero {
  background-color: var(--background-hero);
    /* position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px; */
}
.hero-title {
  color: var(--background-text-btn-hov);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 200px;
}

button.btn-link {
  color: var(--background-text-btn-hov);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--blue-hov);
  cursor: pointer;
  margin-top: 30px;
  margin-left: 700px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
}
/* hero end */
/* .advantage{
  margin: 774px 270px;
} */
.advantage-list,
.work-list,
.team-list{
  margin-left: 215px;
}
.advantage li,
.team li,
.work li {
  margin-left: 30px;  
}
.advantage h3 {
  color: var(--text-color-sec);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}
.advantage p {
  width: 270px;
  height: 75px;
}
.work h2,
.team h2 {
  color: var(--text-color-sec);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team {
  background-color: var(--background-btn-non);
}
.team h3 {
  color: var(--text-color-sec);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team p {
  font-size: 16px;
  line-height: 1.19;
}
/*footer*/
footer {
  background-color: var(--background-hero);
}
.footer-list{
  margin-left: 215px;
  padding-left: 0;
}

address a {
  color: var(--text-adress);
  font-style: normal;
}
address .map {
  color: var(--background-text-btn-hov);
  font-style: normal;
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--blue-hov);
}
/*---P O R T F O L I O---*/
main.portfolio {
  background-color: var(--background-text-btn-hov);
}
.btn-list button.btn {
  background-color: var(--background-text-btn-hov);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.btn-list button.current-btn {
  background-color: var(--blue-hov);
  color: var(--background-text-btn-hov);
}
.btn-list button:hover,
.btn-list button:focus {
    background-color: var(--blue-hov);
    color: var(--background-text-btn-hov);
}
button.btn-link:hover,
button.btn-link:focus {
    background-color: var(--blue-hov);
    color: var(--background-text-btn-hov);
}
  
.gallery h3 {
  color: var(--text-color-sec);
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
}
.gallery p {
  color: var(--text-color-prime);
  font-size: 16px;
  line-height: 1.88;
}
